@media screen and (min-width: 428px) 
{
    .container{width:428px;}
    .modal-window{width: 392px;}
    
   
}
@media screen and (min-width:480px) {
    .modal-window{width: 408px;}
}
@media  screen and (min-width: 428px) and (max-width:767px)
{ 
    .cust-item:nth-child(even) {margin-left: 16px;}
    
}
@media  screen and (max-width:767px){
    .filter-button{margin-bottom: 16px;}
}