@media screen and (min-width: 768px){
    .container{width:768px;}
    .filter{  justify-content: center;
      flex-wrap: nowrap;}
    .hero{  font-weight: 600;
        font-size: 56px;}
        .hero-section{  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tab-1x.jpg);
            
          }
          @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) 
  {
  .hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tab-2x.jpg);
  }
}

          .subscribe-label {
            margin-right: 24px;
          }
         
          .our-team .container,
          .customers>.container{width: 584px;}
          .cust-item{width: 168px;
            height: 88px;
            margin-right: 24px;
        margin-left: 0;}
       
          
        
         .card{margin-left: 0;margin-right: 0;
        } 
        .team-list{justify-content: space-between;}
        footer>.container{width: 584px;
        display: flex;
      flex-wrap: wrap;
    align-items: center;}
    .footer-soc{margin-top: 0;margin-left: 24px;margin-bottom: auto;}
    .footer-soc>p{text-align: left;
      margin-top: 0;
    margin-bottom: 16px;}
    .web-group{text-align: left;}
    .web-group>p{margin-bottom: 0;}
    .subscribe{text-align: left;width: 264px;}
    .subscribe>p{margin-top: 0;}
    .subscribe-btn{margin-top: auto;margin-left: 24px;margin-right: 0;}
    
    .text{font-weight: 500;}
    .advantages>.container{padding-bottom: 48px;}
    .advantages ul{justify-content: space-between;}
    .item>p{width: 264px;}
    
    .features {display: flex;
      padding-bottom: 120px;
    }
    
      .menu-nav{display: flex;}
      .menu-open{display: none;}
      .menu-contacts{display:flex;
        height: 100%;
      margin-left: auto;
    flex-direction: column;}
}

@media screen and (max-width: 1157px){.cust-item:nth-child(3n + 3){margin-right: 0;}
.item>h3{text-align: start;
  font-weight: 700;font-size:  36px;line-height: calc(40/36);}
  .project-card{margin-bottom: 72px;margin-right: 0;}
.filter-list{justify-content: space-between;}}